/* =========== MAIN PERSONAL CSS Style =========== */
/*                                                 */
/*    Patrick LECOINTRE 02/2016 for Wordappeal     */
/*                                                 */
/* =============================================== */

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* Very important good look for the ul/li */
li {
    list-style: none;
}

/* Main html & body */
html {
    font-size: 62.5%;
}

body {
    font: 300 15px/1 'Arial Regular', Arial, sans-serif;
    line-height: 1.8;
    color: #000000;
    padding-top: 66px;
    padding-bottom: 30px;
    background-color: transparent;
}

/* Background CSS gradient */
.html-gradient {
    /* html element 62.5% font-size for EM/REM use */
    /* Background gradient */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+0,ffffff+37,cbcbcb+100;background_gradient_css_wordappeal */
    background: #cccccc; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYmNiY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #cccccc 0%, #ffffff 37%, #cbcbcb 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #cccccc), color-stop(37%, #ffffff), color-stop(100%, #cbcbcb)); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(left, #cccccc 0%, #ffffff 37%, #cbcbcb 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(left, #cccccc 0%, #ffffff 37%, #cbcbcb 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(left, #cccccc 0%, #ffffff 37%, #cbcbcb 100%); /* IE10 preview */
    background: linear-gradient(to right, #cccccc 0%, #ffffff 37%, #cbcbcb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#cbcbcb', GradientType=1); /* IE6-8 */
}

/* clear */
.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0;
    text-decoration: none;
}

a:hover,
a:active {
    outline: 0;
    text-decoration: none;
}

input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.row {
    /*width: 100%;*/
}

/* header */
.header {

}

.chapo {
    font: 300 1.5625em 'Arial', Arial, sans-serif;
    font-style: italic;
    color: #267a88;
    line-height: 30px;
    padding-bottom: 40px;
    margin: 0 0 0 0;
}

.chapo > span {
    color: #797979;
}

/* adress-wordappeal */
.adress-wordappeal {
    float: right;
    text-align: right;
    color: #267a88;
    font-size: 0.875em;
    line-height: 1.1em;
}

.adress-wordappeal > span {
    color: #e31b5a;
}

/* logo */
.logo {

}

.logo-img {
    float: left;
}

/* Icons and links behind bottom main articles */
.tools-left, ul, li {
    display: inline;
}

.tools-right, ul, li {
    display: inline;
}

.tools-right {
    font: 300 0.79375em 'Arial Regular', Arial, sans-serif;
    color: #267a88;
}

.tools-left {
    font: 300 0.79375em 'Arial Regular', Arial, sans-serif;
    color: #267a88;
}

/*------------------------------------*\
    Borders
\*------------------------------------*/
.borders-bottom {
    border-bottom: 1px solid #c5c5c5;
    /*margin: 0;*/
    /*padding: 0;*/
}

.borders-top {
    border-top: 1px solid #ffffff;
    /*margin: 0;*/
    /*padding: 0;*/
}

 .borders-left {
     border-left: 1px solid #ffffff;
    /*margin: 0;*/
    /*padding: 0;*/
 }

  .borders-right {
     border-right: 1px solid #c5c5c5;
    /*margin: 0;*/
    /*padding: 0;*/
 }

/*------------------------------------*\
    NAV
\*------------------------------------*/
.nav-box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#70b9c7+0,277a88+100 */
    background: #70b9c7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwYjljNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNzdhODgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #70b9c7 0%, #277a88 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70b9c7), color-stop(100%, #277a88)); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(top, #70b9c7 0%, #277a88 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(top, #70b9c7 0%, #277a88 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(top, #70b9c7 0%, #277a88 100%); /* IE10 preview */
    background: linear-gradient(to bottom, #70b9c7 0%, #277a88 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70b9c7', endColorstr='#277a88', GradientType=0); /* IE6-8 */
    max-height: 70px;
    height: 100%;
    /* Border radius */
    border: 0 solid #ffffff;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    /* Borx shadow */
    box-shadow:1px 1px 1px #277a88,
    -1px -1px 2px #7cd7e6;
    /* Margin bottom */
    margin-bottom: 45px;
}

.white-nav-txt {
    font: 700 1em 'Arial Regular', Arial, sans-serif;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 0px -1px 2px black, 0 -1px black;
}

.sub-nav-txt {
    font: 300 0.8125em 'Arial Regular', Arial, sans-serif;
    letter-spacing: 0.03em;
    color: #7cd7e6;
    /*line-height:1em;*/
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: transparent;
    color: #e31b5a;
    text-decoration: none;
}

.dropdown {
    line-height: 1.2em;
}

.dropdown-line-right {
    border-right: 2px solid #a0c9d0;
    -moz-box-shadow: 1px 0px 0px 0px #7cd7e6;
    -webkit-box-shadow: 1px 0px 0px 0px #7cd7e6;
    -o-box-shadow: 1px 0px 0px 0px #7cd7e6;
    box-shadow: 1px 0px 0px 0px #7cd7e6;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#7cd7e6, Direction=90, Strength=0);
}

.bloc-nav {
    padding-top: 16px;
    height: 67px;
}

/*------------------------------------*\
    TITLES & STYLES
\*------------------------------------*/

h1 {
    /*font: 700 3em 'Arial Regular', Arial, sans-serif;*/
    /*text-decoration:none;*/
}

h2 {
    font: 700 2.375em 'Arial Regular', Arial, sans-serif;
    color: #e31b5a;
    text-decoration: none;
}

h3 {
    /*font: 500 1.5em 'Arial Regular', Arial, sans-serif;*/
    /*text-decoration: none;*/
}

h4 {
    /*font: 300 1.3em 'Arial Regular', Arial, sans-serif;*/
    /*text-decoration: none;*/
}

p {
    font: 300 1em 'Arial Regular', Arial, sans-serif;
    line-height: 1.25em;
    color: #000000;
    text-decoration: none;
    margin: 0 0 24px;
}

p > span {
    /*font: 300 1em 'Arial Regular', Arial, sans-serif;*/
    /*line-height: 1.25em;*/
    color: #267a88;
    /*text-decoration: none;*/
}

/* Mains subs */
.author-date {
    font: 300 0.795em 'Arial Regular', Arial, sans-serif;
    color: #797979;
    text-decoration: none;
}

.author-date > span {
    color: #267a88;
}

.text-tools {
    font: 300 0.8em 'Arial Regular', Arial, sans-serif;
    color: #267a88;
    text-decoration: none;
    margin-left: 10px;
    vertical-align: text-bottom;
    display: inline-block;
}

/*=============== Bootstrap Dropdown menu Customised ================*/
/*.dropdown-menu {*/
/*position: absolute;*/
/*top: 100%;*/
/*left: 0;*/
/*z-index: 1000;*/
/*display: none;*/
/*float: left;*/
/*min-width: 160px;*/
/*padding: 5px 0;*/
/*margin: 2px 0 0;*/
/*font-size: 14px;*/
/*text-align: left;*/
/*list-style: none;*/
/*background-color: #fff;*/
/*-webkit-background-clip: padding-box;*/
/*background-clip: padding-box;*/
/*border: 1px solid #ccc;*/
/*border-radius: 4px;*/
/*-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);*/
/*box-shadow: 0 6px 12px rgba(0, 0, 0, .175);*/
/*}*/

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.0625em;
    color: #267a88;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #e31b5a;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #e31b5a;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/*==================================================================*/

/* sidebar */
.sidebar {

}

/* footer */
.footer {

}

/*------------------------------------*\
    PAGES
\*------------------------------------*/

/*------------------------------------*\
    IMAGES
\*------------------------------------*/

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
    font-family: 'Font-Name';
    src: url('fonts/font-name.eot');
    src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
    url('fonts/font-name.woff') format('woff'),
    url('fonts/font-name.ttf') format('truetype'),
    url('fonts/font-name.svg#font-name') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1140px) {

}

@media only screen and (min-width: 1280px) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*------------------------------------*\
    IPAD IPHONE
\*------------------------------------*/
/***** IPAD *****/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/***** IPAD PORTRAIT *****/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}

/***** IPHONE *****/
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
    #mega-menu {
        width: 87%;
    }
}

/***** IPHONE 6 *****/
@media only screen and (min-device-width: 568px) and (max-device-width: 667px) {
    .tailored-item:hover:before {
        height: 100%;
    }
}
