/*
=========== MAIN PERSONAL CSS Style ===========
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
    font-size: 62.5%;
}

body {
    font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444;
}

/* clear */
.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #444;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* container */
.container {
    max-width: 960px;
    width: 95%;
    margin: 0 auto;
    position: relative;
}

/* header */
.header {

}

/* logo */
.logo {

}

.logo-img {

}

/* nav */
.nav {

}

/* sidebar */
.sidebar {

}

/* footer */
.footer {

}

/*------------------------------------*\
    PAGES
\*------------------------------------*/

/*------------------------------------*\
    IMAGES
\*------------------------------------*/

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
    font-family: 'Font-Name';
    src: url('fonts/font-name.eot');
    src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
    url('fonts/font-name.woff') format('woff'),
    url('fonts/font-name.ttf') format('truetype'),
    url('fonts/font-name.svg#font-name') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1140px) {

}

@media only screen and (min-width: 1280px) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #FFF;
    border: 1px solid #F0F0F0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.sticky {

}

.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    /*------------------------------------*\
        PRINT
    \*------------------------------------*/
    /***** IPAD *****/
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        header #header-second .breadcrumb {
            padding: 0 50px;
        }

        #mega-menu .section-inner {
            padding-left: 30px;
        }

        .breadcrumb {
            font-size: 18px;
            padding: 30px 30px;
        }

        .breadcrumb ul li {
            padding: 0 10px;
        }

        .mega-menu-row-first ul li:first-child {
            font-size: 20px;
            padding: 0;
        }

        .mega-menu-row-first ul li a {
            font-size: 13px;
        }

        .mega-menu-row-first-item {
            margin: 0 60px;
        }

        .mega-menu-row-second {
            margin-top: 60px;
        }

        .mega-menu-row-second-item {
            margin: 0 5px;
        }

        .mega-menu-row-second ul li a {
            font-size: 12px;
        }

        .section-inner {
            padding: 0 50px;
        }

        #home {
            height: 100vh;
            position: relative;
            background: url(../images/bg-home.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        #home video {
            display: none;
        }

        #home #logo-15ans {
            top: 25%;
        }

        #home #logo-15ans .logo-15ans-text {
            width: 320px;
            font-size: 12px;
        }

        #home #logo-15ans .logo-15ans-text-years {
            width: 300px;
        }

        #tailored-content {
            margin-bottom: 50px;
        }

        .tailored-titre {
            font-size: 28px;
        }

        .tailored-item-hover {
            height: 220px;
        }

        .tailored-item:hover:before {
            width: 100%;
            height: 80%;
        }

        .news-title a {
            font-size: 22px;
            line-height: 20px;
        }

        #join {
            padding-bottom: 50px;
        }

        #join h2 {
            padding: 50px 0 0 0;
        }

        .join-item {
            padding: 0 10px;
            height: 310px;
        }

        .join-job {
            min-height: 90px;
        }

        #stay-in-touch-cta .stay-in-touch-cta-item {
            width: 280px;
            margin: 0px 10px;
        }

        #stay-in-touch-cta .stay-in-touch-cta-item a {
            font-size: 12px;
        }

        .customNavigation {
            display: block !important;
        }
    }

    /***** IPAD PORTRAIT *****/
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        header #header-second .breadcrumb {
            padding: 0 20px;
        }

        header .breadcrumb ul li {
            font-size: 15px;
            vertical-align: middle;
            padding: 0 5px;
        }

        #mega-menu .breadcrumb ul li {
            font-size: 15px;
            padding: 0 5px;
        }

        .mega-menu-row-second {
            text-align: left;
            margin-top: 30px;
        }

        .mega-menu-row-first-item {
            margin: 0 30px;
        }

        .mega-menu-row-second-item {
            margin-top: 20px;
        }

        .mega-menu-row-second ul li a {
            font-size: 15px;
        }

        .breadcrumb {
            font-size: 22px;
            padding: 30px 30px;
        }

        #home #logo-15ans {
            top: 5%;
        }

        #home #logo-15ans .logo-15ans-text {
            width: 100%;
            padding-top: 135px;
            display: block;
            margin: 0 auto;
            text-align: center;
            font-size: 22px;
        }

        #home #logo-15ans .logo-15ans-logo {
            display: inline-block;
            margin: 30px auto;
            text-align: center;
            margin-right: -4px;
        }

        #home #logo-15ans .logo-15ans-text-years {
            width: 100%;
            padding-top: 0;
            display: block;
            margin: 0 auto;
            text-align: center;
        }

        #last-tweet {
            margin-left: -350px;
        }

        #tailored-content .breadcrumb ul li {
            font-size: 15px;
            padding: 0 5px;
        }

        #tailored-content h2 {
            font-size: 42px;
            line-height: 38px;
        }

        .tailored-item:hover:before {
            width: 90%;
            height: 100%;
        }

        #stay-in-touch-cta {
            margin: 35px 0;
        }

        #stay-in-touch-cta .stay-in-touch-cta-item {
            width: 170px;
            margin: 2px 20px;
        }

        #stay-in-touch-cta .stay-in-touch-cta-item a {
            font-size: 11px;
            padding: 7px 20px;
        }

        footer .section-inner {
            width: 100%;
        }

        footer .footer-column {
            width: 41%;
        }

        .footer-left {
            padding-left: 50px;
        }
    }

    /***** IPHONE *****/
    @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
        #mega-menu {
            width: 87%;
            background: rgb(221, 53, 80);
        }

        #mega-menu .section-inner {
            padding: 0 0 0 10px;
            height: 100vh;
            overflow: scroll;
        }

        #mega-menu .breadcrumb {
            padding: 10px 0;
        }

        #mega-menu .breadcrumb ul li {
            padding: 0 5px;
            float: none;
        }

        #mega-menu-logo {
            margin-top: 0px;
            position: relative;
        }

        .mega-menu-row {
            margin-top: 50px;
        }

        .mega-menu-row-first-item {
            width: 100%;
            margin: 10px 0;
        }

        .mega-menu-row-first ul {
            text-align: left;
        }

        .mega-menu-row-first ul li a {
            font-size: 14px;
        }

        .mega-menu-row-second-item {
            margin: 10px 0;
            display: block;
        }

        header #header-first h1#logo {
            margin-top: 40px;
            margin-left: -7%;
        }

        header h1#logo {
            display: block;
            margin-top: 25px;
            text-align: center;
        }

        header.large img {
            width: 60px;
            display: inline-block;
        }

        header.small img {
            margin-top: -10px;
        }

        header.small img {
            width: 40px;
            display: inline-block;
        }

        header #header-second {
            padding: 10px 0 40px 0px;
        }

        header #header-second .breadcrumb {
            padding: 0;
            font-size: 11px;
            padding-left: 10px;
        }

        header #header-second h1#logo {
            width: 30px;
            height: 30px;
            top: 43%;
            margin-top: 0;
        }

        header #header-second h1#logo img {
            width: 30px;
        }

        header .breadcrumb ul li {
            padding: 0 5px;
        }

        .wrapper {
            width: 85%;
        }

        .breadcrumb {
            font-size: 14px;
            padding: 10px 20px;
        }

        #home {
            height: 100vh;
            position: relative;
            background: url(../images/bg-home.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        #home video {
            display: none;
        }

        #home #logo-15ans {
            top: 5%;
            width: 86%;
        }

        #home #logo-15ans .logo-15ans-text {
            width: 100%;
            padding-top: 100px;
            display: block;
            margin: 0;
            text-align: center;
            font-size: 11px;
        }

        #home #logo-15ans .logo-15ans-logo {
            width: auto;
            display: inline-block;
            margin: 30px 0;
            text-align: center;
            margin-right: -4px;
        }

        #home #logo-15ans .logo-15ans-logo img {
            width: auto;
            height: 200px;
        }

        #home #logo-15ans .logo-15ans-text-years {
            width: 100%;
            padding-top: 0;
            display: block;
            margin: 0;
            text-align: center;
            font-size: 16px;
        }

        #home #last-tweet {
            width: 80%;
            margin-left: -48%;
            bottom: 10px;
            height: 50px;
        }

        #home #last-tweet-icon {
            width: 20%;
            height: 50px;
        }

        #home #last-tweet-content {
            width: 74%;
            font-size: 11px;
        }

        #home #last-tweet-content span {
            display: none;
        }

        #home .tweets_txt {
            height: 40px;
            overflow: hidden;
        }

        #tailored-content .breadcrumb {
            background: rgba(255, 255, 255, 0.95);
        }

        #tailored-content {
            margin-bottom: 0;
        }

        #tailored-container {
            margin-top: 20px;
        }

        #tailored-content .breadcrumb ul li:first-child {
            display: none;
        }

        #tailored-content .breadcrumb {
            padding: 10px 0 50px;
        }

        #tailored-content h2 {
            font-size: 30px;
            line-height: 30px;
            margin-top: 0px;
            padding: 50px 15px 0;
        }

        .tailored-item:hover:before {
            height: 80%;
        }

        #join {
            margin-top: 40px;
        }

        #join h2 {
            padding: 0;
        }

        #join-container .owl-item {
            background: none;
        }

        .join-item {
            height: 300px;
        }

        #watch40-image {
            display: block;
            width: 90%;
            margin: 0 auto 30px;
        }

        #watch40-text {
            display: block;
            width: 90%;
            margin: 0 auto;
            padding: 0;
        }

        #watch40-text h2 {
            font-size: 36px;
            line-height: 36px;
        }

        #watch40-link {
            margin: 0 auto;
            text-align: center;
            width: 100%;
        }

        .grid-item {
            width: 100% !important;
            height: auto !important;
            padding: 0 !important;
        }

        .grid-item-twitter .news-title {
            padding: 0 20px 10px 20px;
        }

        .grid-item-twitter-2 .news-title {
            padding: 30px 0 0 0;
        }

        .grid-item-twitter-inner {
            padding: 30px 0;
        }

        #news h2 {
            padding: 20px 0 0 0;
        }

        .news-title a {
            font-size: 24px;
            line-height: 22px;
        }

        .news-author {
            font-size: 14px;
        }

        .news-date {
            font-size: 14px;
            margin-bottom: 50px;
        }

        .news-image {
            max-width: 100%;
        }

        .contact-us a {
            padding: 7px 60px;
        }

        #join-container {
            margin-top: 30px;
        }

        #stay-in-touch h2 {
            line-height: 30px;
            font-size: 30px;
        }

        #stay-in-touch-cta .stay-in-touch-cta-item {
            width: 80%;
        }

        #stay-in-touch-cta .stay-in-touch-cta-item a {
            font-size: 11px;
            margin: 5px 0;
        }

        footer .section-inner {
            width: 100%;
            padding-left: 40px;
            padding: 10px 0;
        }

        footer .footer-column {
            display: block;
            margin-top: 20px;
            width: 80%;
            padding-left: 40px;
        }

        footer .footer-right ul li {
            float: left;
        }
    }

    /***** IPHONE 6 *****/
    @media only screen and (min-device-width: 568px) and (max-device-width: 667px) {
        .tailored-item:hover:before {
            height: 100%;
        }
    }

}
